@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@*Om man vill ha script i sidans HEAD kan man placera dem inom en section:
@section JavaScriptSection
{
    <script type="text/javascript" src="@Url.Content("/Scripts/SomeScript.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/AnotherScript.js")"></script>
}
*@
